<table class="table">
    <thead>
        <tr>
            <th style="width: 40%;">
                Input
            </th>
            <th style="width: 30%;">

            </th>
            <th style="width: 30%;">
                OutPut
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td >
                    <textarea id="inputInfos" name="inputInfos" cols="50" rows="15"></textarea>
                </td>
                <td >
                    <input class="btn btn-secondary" onclick="setInfos()" value="Run" />
                </td>
                <td style="border:dotted">
                    <ul id="outputInfos" name="outputInfos">
                    </ul>
                </td>
            </tr>
    </tbody>
</table>