

<div class="row">
    <label>Input</label>
    <div class="col-md-5">
        <textarea id="inputInfos" name="inputInfos" cols="20" rows="10"></textarea>
        <button class="btn btn-secondary" onclick="setInfos()" value="Set Infos" />
    </div>
    <label>Output</label>
    <div class="col-md-5" style="border:dotted">
        <ul id="outputInfos" name="outputInfos">
        </ul>

    </div>
</div>
